/** @format */
/* saira-regular - latin-ext_latin */
@font-face {
	font-family: "Saira";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local(""), url("./fonts/saira-v8-latin-ext_latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/saira-v8-latin-ext_latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* saira-700 - latin-ext_latin */
@font-face {
	font-family: "Saira";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local(""), url("./fonts/saira-v8-latin-ext_latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("./fonts/saira-v8-latin-ext_latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Start: General */
:root {
	--border-radius: 10px;
	--padding-min: 0.3rem;
	--padding-medium: 0.5rem;
	--padding-max: 1rem;

	--bg: #212529;
	--primary: #212529;
	--secondary: #8f9499;
	--error: #de4d4c;

	--light: #dee2e6;
	--middle: #adb5bd;
	--dark: #343a40;
	--weather: #adb5bd;

	--day: #ec6e4c;
	--night: #070a32;
	--sunny: #fbdd7a;
	--clouds: #969697;
	--rain: #6df9e5;
	--thunderstorm: #5bdcfe;
	--snow: #fcf7f8;

	/* Atmosphere */
	--mist: #98a9b2;
	--smoke: #7f7a78;
	--fog: #e2e2e2;
	--haze: #e1d5c5;
	--dust: #e7ac59;
	--sand: #d6bd83;
	--ash: #535455;
	--squall: #26283c;
	--tornado: #2f2e33;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: "Saira", Arial, sans-serif;
	height: 100vh;
	width: 100%;
	overflow-x: hidden;
	color: var(--light);
	background-color: var(--weather);
	background-image: linear-gradient(to bottom, var(--bg), transparent 50%);
	transition: background-color 0.5s ease, color 0.5s ease;
}

/* Weather color conditions */
body[data-weather="Clear"] {
	--weather: var(--sunny);
}

body[data-weather="Clouds"] {
	--weather: var(--clouds);
}

body[data-weather="Drizzle"],
body[data-weather="Rain"] {
	--weather: var(--rain);
}

body[data-weather="Snow"] {
	--weather: var(--snow);
}

body[data-weather="Thunderstorm"] {
	--weather: var(--thunderstorm);
}

body[data-weather="Mist"] {
	--weather: var(--mist);
}

body[data-weather="Smoke"] {
	--weather: var(--smoke);
}

body[data-weather="Fog"] {
	--weather: var(--fog);
}

body[data-weather="Haze"] {
	--weather: var(--haze);
}

body[data-weather="Dust"] {
	--weather: var(--dust);
}

body[data-weather="Sand"] {
	--weather: var(--sand);
}

body[data-weather="Ash"] {
	--weather: var(--ash);
}

body[data-weather="Squall"] {
	--weather: var(--squall);
}

body[data-weather="Tornado"] {
	--weather: var(--tornado);
}

/* Time of day color conditions */
body[data-time="d"] {
	--bg: var(--day);
	--primary: #264653;
	--secondary: #2a9d8f;

	--light: #fafafa;
	--middle: var(--mist);
	--dark: #222;
}

body[data-time="n"] {
	--bg: var(--night);
	--primary: #212529;
	--secondary: #515a64;
	/* --secondary: #343a40; */

	--light: #e9ecef;
	--middle: var(--mist);
	--dark: #343a40;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* End: General */

/* Start: Main */
.content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: var(--padding-max);
}

/* -Start: Form */
form {
	--fs: 1.2rem;
	font-size: var(--fs);
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	width: 100%;
}

input[type="search"] {
	border: none;
	outline: none;
	background: none;
	width: 100%;
	padding: var(--padding-min);
	color: var(--primary);
	transition: color 250ms ease-out;
}

.search-area {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.2em;
	padding: var(--padding-min) var(--padding-medium);

	font-size: 1.1em;
	border: 3px solid var(--primary);
	border-radius: var(--border-radius);
	background-color: var(--middle);
	transition: border-color 250ms ease-out, background-color 250ms ease-out;
}

.search-area:focus-within {
	border-color: var(--primary);
}

.search-area:focus-within,
.search-area:hover {
	background-color: var(--light);
	border-color: var(--secondary);
}

.search-area i {
	cursor: pointer;
	color: var(--primary);
	transition: color 250ms ease-out;
}

.search-area:focus-within i,
.search-area:hover i {
	color: var(--secondary);
}

.options {
	display: flex;
	justify-content: space-between;
}

.lang {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.6em;
	padding: var(--padding-min) var(--padding-medium);
	border: 2px solid var(--primary);
	border-radius: var(--border-radius);
	background-color: var(--secondary);
	color: var(--light);
	transition: border-color 250ms ease-out, background-color 250ms ease-out, color 250ms ease-out;
}

.lang select {
	color: var(--light);
	border: none;
	background: none;
}

.lang option {
	color: var(--light);
	background-color: var(--secondary);
	transition: color 250ms ease-out, background-color 250ms ease-out;
}

.lang optgroup {
	color: var(--light);
	background-color: var(--primary);
	transition: color 250ms ease-out, background-color 250ms ease-out;
}

.units {
	display: flex;
	flex-direction: row-reverse;
	background-color: var(--primary);
	border: 2px solid var(--primary);
	border-radius: var(--border-radius);
	overflow: hidden;
	transition: background-color 250ms ease-out, border-color 250ms ease-out;
}

.units input {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	outline: none;
}

.units label {
	cursor: pointer;
	color: var(--secondary);
	padding: var(--padding-medium);
	border: 2px solid transparent;
	transition: background-color 250ms ease-out, color 250ms ease-out;
}

.units label:hover {
	background-color: var(--secondary);
	color: var(--light);
}

.units input:checked + label {
	color: var(--light);
	background-color: var(--secondary);
}
/* -End: Form */

/* -Start: Weather Info */
.weather {
	--fs: 1.4rem;
	font-size: var(--fs);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	width: 100%;

	margin: auto;
	padding: var(--padding-max);
}

.weather.info {
	border: 2px solid var(--primary);
	border-radius: var(--border-radius);
	background-color: var(--secondary);

	text-shadow: 0 0 5px var(--primary);
	color: var(--light);
	transition: border-color 250ms ease-out, background-color 250ms ease-out, color 250ms ease-out;
}

.weather-city {
	font-size: 1.3em;
	font-weight: 700;
}

.weather-date {
	font-size: 0.8em;
}

.weather img {
	/* Weather icons have extra empty space, so it is clipped with negative margins */
	margin: -1em 0;
}

.weather-temp {
	font-size: 4em;
	font-weight: bold;
}

.weather-description {
	font-size: 1.1em;
	text-transform: capitalize;
}

.wind-and-humidity {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 0.9em;
}

.wind-and-humidity i {
	margin-right: 0.5em;
}

.loading {
	font-size: 4rem;
	margin: auto;
}

.loading i {
	color: var(--secondary);
	text-shadow: 0 0 2px var(--primary), 0 0 5px var(--light);
	transition: color 250ms ease-out, text-shadow 250ms ease-out;
}

.error {
	--fs: 1.8rem;
	font-size: var(--fs);
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	padding: var(--padding-max);
	gap: 0.6em;

	border: 2px solid var(--error);
	border-radius: var(--border-radius);
	background-color: var(--light);
	color: var(--error);
}

.error p {
	text-transform: capitalize;
	font-weight: bold;
}

.error i {
	color: var(--error);
}
/* -End: Weather Info */
/* End: Main */
